In [2]:
# how to work with 'for loops'

In [4]:
a = ("banana", "apple", "microsoft")

In [5]:
print(a[0])
print(a[1])
print(a[2])

banana
apple
microsoft

In [6]:
for element in a:
    print(element)

banana
apple
microsoft

In [8]:
b = [20, 10, 5]
for e in b:
    print(e)

20
10
5

In [12]:
# How to sum within a for loop

b = [20, 10, 5]
total = 0
for e in b:
    total = total + e
print(total)

35

In [13]:
# how to use the range function
# 1, 2, 3, 4

a = list(range(1, 5))
print(a)

[1, 2, 3, 4]

In [15]:
for i in range(1, 5):
    print(i)

1
2
3
4

In [16]:
total2 = 0
for i in range(1, 5):
    total2 = total2 + i
print(total2)

10

In [17]:
# how to sum up all numbers in the multiple of 3

print(list(range(1, 8)))

[1, 2, 3, 4, 5, 6, 7]

In [18]:
# first we need a 'modular operator'
# we can print the remainder of a division as follows

print(4 % 3)

1

In [19]:
print(5 % 3)

2

In [20]:
print(6 % 3)

0

In [22]:
total3 = 0
for i in range(1, 8):
    if i % 3 == 0:
        total3 += i
print(total3)

9

In [27]:
# Compute all multiples of 3, 5
# that are less than 100

total4 = 0
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        total4 += i                   
print("Total:", total4)

Total: 2318

In [4]:

# alternative commands in 'for loops'

In [ ]:
a = ["apple", "banana", "republic"]

In [6]:
for element in a:
    print(element)

apple
banana
republic

In [9]:
for i in range(3):  # 0, 1, 2
    print(i)

0
1
2

In [10]:
for i in range(3):
    print(a[i])

apple
banana
republic

In [11]:
for i in range(len(a)):  # use the lenght of the lists
    print(a[i])

apple
banana
republic

In [14]:
# sometimes the elements within the lists are important
# print the list a with the the first element once, 2nd twice, 3rd three times

for i in range(len(a)):
    for j in range(i + 1):
        # j = 0 when i = 0
        # j = 1 when i = 0, 1
        # j = 2 when i = 0, 1, 2
        print(a[i])

apple
banana
banana
republic
republic
republic